/* red:#D43C33 */
/* grey:#888888;  灰色*/


body{
	font-size:15px;
}
.sectionTitle{    /*  */
	border-left:2px solid #D43C33;
	font-size:17px;
	line-height:1;
	padding-left:8px;
	margin:20px 0 8px;
}

/*  */
.sticky{
	position:fixed;    /* 表头固定不动(以下5行) */
	top:0;
	left:0;
	width:100%;
	z-index:1;
	background:white;
}
section.topbar{
	display:flex;
	justify-content:space-between;   /*两边位置*/
	align-items:center;
	background: #D43C33;
	padding:17px 10px;
}
section.topbar .logo>svg{
	width:142px;
	height:25px;
	vertical-align:top;   /* 解决svg的多余底边 */
}
section.topbar > a{
	color:white;
	display:inline-block;
	//border:1px solid;
	//font-size:4.6875vw;
	padding:5px 11px;
	line-height:20px;
	position:relative;
}
section.topbar > a::after{    /* 利用伪类元素制作边框border */
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:200%;
	height:200%;
	border:1px solid white;
	border-radius:50px;
	transform:scale(0.5);
	transform-origin:0 0;
}

/* tabs */
.tabs{
	display:flex;
	border:1px solid #E6E6E6;
}
.tabs > li{
	width:33.333333%;
	text-align:center;
	line-height:20px;
	//padding:10px 0;
	display:flex;     /* 一起组合为可实现自动居中(以下3行) */
	justify-content:center;
	align-items:center;
}
.tabs > li > .text{
	padding:10px 5px;
	position:relative;    /* 绝对定位前必须有相对定位 */
	/*//display:inline-block;
	//vertical-align:top; */ /* 解决inline-block自带的bug */
	top:1px;
}
.tabs > li.active{
	//background:red;
	color:#D43C33;
	//position:relative;
}
.tabs > li.active > .text{
}
.tabs > li.active > .text::after{
	content:'';
	position:absolute;    /* 绝对定位前必须有相对定位 */
	height:2px;
	background:#D43C33;
	bottom:1px;
	left:0;
	width:100%;
}
.tab-content{
	margin-top:105px;  /* 欲表头不动需整体下移 */
}
.tab-content > li{
	display:none;
}
.tab-content > li.active{
	display:block;
	//background:red;
}
.noCollapse::before{   /* 解决margin合并问题(以下2行)，相当于有实线遮挡 */
	content:'';
	display:table;
 /* border:1px solid red;
	width:100%; */
}
.noCollapse::after{  /* 谁不想合并在html上加noCollapse */
	content:'';
	display:table;
}


/*  */
section.globalTabs{}
section.playlists{}
section.playlists{
	/*//overflow:hidden; */  /* 解决margin合并问题，不用overflow有副作用 */
}
	
section.playlists > h2{}
section.playlists > ol.songs{
	display:flex;   /* 图片为两行，下面分三等分33.333333% */
	flex-wrap:wrap;  /* 图片换行 */
	justify-content:space-between;  /* 图片连接处空隙 */
	font-size:13px;
}
section.playlists > ol.songs > li{
	width:32.8%;
	margin:8px 0;  /* 两行上下间距 */
}
section.playlists > ol.songs > li p{
	display: -webkit-box;    /*文字两行以上变省略号(以下4行) */
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;  
	line-height:18px;
	height:36px;
    //text-overflow:ellipsis;
    padding:0 6px;
}
section.playlists > ol.songs > li img{
	width:100%;
	height:123px;   /* 写高度防止浏览器刷新时出现跳闪塌陷问题 */
}

/*  */
section.songs{}
section.songs > .list{
	margin-top:18px;
}
section.songs > .list > li > h3{
	font-size:17px;
}
section.songs > .list > li > p{
	font-size:12px;
	color:#888888;
}
section.songs > .list > li{
	position:relative;
	//border:1px solid red;
	margin-left:10px;
	padding-bottom:6px;
	padding-top:L5px;
	border-bottom:1px solid #F0F0F1;
}
section.songs > .list .playButton{
	position:absolute;
	right:8px;
	top:50%;
	transform:translateY(-50%);   /* 播放图标居中 */
}
section.songs > .list .icon-sq{
	fill:#FE672E;            /* fill为svg属性*/
	//border:1px solid green;
}
section.songs > .list .icon-play{
	width:22px;
	height:22px;
	//border:1px solid green;
	vertical-align:middle;  /* 图标向下移动真正居中 */
	fill:#AAAAAA;
}

/*  */
section.art{
	padding-top:38px;
	padding-bottom:18px;
	background:transparent url(http://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922) no-repeat center 0;
    background-size:cover;   /* 图片缩放属性 */
    text-align:center;
}
section.art svg{
	width:230px;
	height:44px;
}
section.art .link-wrapper > a{
	display:inline-block; 
	border:1px solid;
	line-height:40px;
	font-size:16px;
	padding:0 19px;
	border-radius:20px;
	color:#D43C33;
	margin-top:10px;
}
section.art .copyright{
	font-size:12px;
	color:#888;
	transform:scale(.75);
	text-align:center;
	margin-bottom:5px;
	transform: scale(.75);  /* 字体不能小于12px，进行缩放 */	
}
