.plWarp{
    height: 100vh;
}

/* 表头图片样式 */
section.plTop{
    overflow: hidden;
    padding: 30px 10px 30px 15px;
    position: relative;
}
.plTopbg{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*//background: url(http://p1.music.126.net/SiatPTUWjTIazLViOF6bJg==/2923601418825523.webp?imageView&thumbnail=252x0&quality=75&tostatic=0&type=webp) no-repeat; */
    filter: blur(9px);  /*模糊*/
    position: absolute;
    transform: scale(1.5);
    background-position: 50%;
    background-size: cover;  /* 背景图片 */
}
.plTopbg::after{
    content: " ";
    background-color: rgba(0,0,0,.25);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
/*封面图片样式*/
.formDate{
    position: relative;
    width: 100%;
    display: flex;
    z-index: 2;
}
.formDate > .fromCover{
    position: relative;
    font-size: 12px;
}
.fromCover >.superscript{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 10px;
    padding: 0 8px;
    line-height: 17px;
    background-color: rgba(217,48,48,.8);
    color: #fff;
    font-size: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fromCover >.amount{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    padding-left: 13px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding-right: 2px;
    width: 100%;
}
.fromCover >.amount .icon-listen{
    margin-top: 2px;
    margin-right: 3px;
}
.fromCover >.amount::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 18px;
    z-index: -1;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.2));
    padding: 0;
} 
.fromCover > img{
    width: 114px;
    height: 114px;
}
.formDate > .fromTitle{
    margin-left: 16px;
}
.fromTitle > h2{
    font-size: 17px;
    color: #fff;
    line-height: 1.3;
    padding-top: 1px;
}
.fromTitle > .avatar{
    margin-top: 20px;
}
.fromTitle > .avatar > a{
    display: flex;
    align-items: center;
}
.fromTitle > .avatar img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.fromTitle > .avatar span{
    font-size: 14px;
    color: #B7B7B7;
}


/* 标签系列文字 */
section.plIntro{
 /*//border:1px solid red;*/
    position: relative;
    margin: 0 15px 0 10px;
    padding-top: 10px;
    line-height: 19px;
    color: #666;
    font-size: 14px;
}
.plIntro > .pltags{
    margin-bottom: 10px;
    line-height: 20px;
}
.plIntro > .pltags > em{
    display: inline-block;
    font-size: 12px;
    padding: 1px 8px;
    margin-right: 6px;
    font-style: normal;
    position: relative;  
}
.plIntro > .pltags > em::after{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 200%;
    height: 200%;
    border: 1px solid #cecece;
    border-radius: 9999px;
    transform-origin: 0 0;   /*  */
    transform: scale(0.5, 0.5);  /*  */
}


section.plIntro > .pltagsIntro{
    font-size: 14px;
    color: #666;
    line-height: 19px;
}
section.plIntro >.pltagsToggle {
    text-align: right;
    margin-bottom: 6px;
}
.pltagsToggle > svg{
    fill:#999;
}
.plIntroHide{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;   
    //text-overflow: ellipsis;
}
.flipy { 
    transform: rotateX(180deg); 
}


/*歌曲列表*/
section .songs{}
.plsongsTitle{
    line-height: 23px;
    color: #666;
    font-size: 12px;
    background-color: #eeeff0;
    padding-left: 10px;
}
#loading{
  text-align: center;
}
#plsongs{
    margin-top: 0;
 /*//border:1px solid red;*/
    margin-bottom:55px;  /*预留底部高度空间*/
}


/*收藏歌单*/
section.plDn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 7px 30px;
  background: #fff;
}

.plDn>a {
  background: #d43b32;
  color: #fff;
  font-size: 16px;
  padding: 1px 0px 9px; 
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 50px;
}
.plDn>a::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 25px;
  background: url(//p1.music.126.net/QWMV-Ru_6149AKe0mCBXKg==/1420569024374784.webp?imageView&thumbnail=60x0&quality=75&tostatic=0&type=webp) no-repeat;
  background-size: contain;
  position: relative;
  top: 6px;
  margin-right: 4px;
}
